@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/* Roboto | Open Sans | Playfair Display serif | Poppins */

body {
    margin: 0;
    background: #1a1d20; 
    /* background: #0B0B0B; */
}

button {
    cursor: pointer;
}

.global-nav {
    display: flex;
    align-items: center;
    position: relative;
    background: #0C0E0F;
}

.credit-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.logo-button {
    /* padding-left: 18px; */
    border: none;
    position: relative;
    display: inline-flex;
    background: transparent;
    z-index: 10;
}

.logo-button img {
    width: 35px;
    height: auto;
}

.logo-button::after {
    content: attr(data-label);
    position: absolute;

    top: 100%;           
    left: 50%;
    transform: translateX(-50%) translateY(6px);

    background: black;
    color: white;
    font-size: 12px;
    padding: 8px 22px;
    border-radius: 6px;
    white-space: nowrap;

    opacity: 0;
    transition: 0.2s;
}

.logo-button:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.credit-nav h1 {
    color: #7F8081;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.credit-button {
    background: transparent;
    border: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    /* font-weight: 300; */
    font-weight: bold;
    padding: 0;
}

.global-buttons-nav {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    gap: 10px;

    z-index: 100;
}   

.global-button {
    border: none;
    background: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 10;
    /* padding-top: 0; */
}

.global-button img {
    width: 50px;
    height: auto;
}

.global-button::after {
    content: attr(data-label);
    position: absolute;

    top: 100%;           
    left: 50%;
    transform: translateX(-50%) translateY(6px);

    background: black;
    color: white;
    font-size: 12px;
    padding: 8px 22px;
    border-radius: 6px;
    white-space: nowrap;

    opacity: 0;
    transition: 0.2s;

    /* z-index: 9999; */
}


.global-button:hover::after,
.global-button:hover::before {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}


/* .global-button.portfolio img:hover {
    content: url("global-nav/focus/icon-global-nav-portfolio.svg");
} */

/* .global-button.wallet img:hover {
    content: url("global-nav/focus/");
} */

.global-button.exchange img:hover {
    content: url("global-nav/focus/icon-global-nav-exchange.svg");
}

.global-button.onramp img:hover {
    content: url("global-nav/focus/icon-global-nav-fiat-onramp.svg");
}

/* .global-button.rewards img:hover {
    content: url("global-nav/icon-global-nav-earn-rewards-hover.svg");
} */

/* .global-button.nfts img:hover {
    content: url("global-nav/icon-global-nav-nfts-hover.svg");
} */



.settings-nav {
    display: flex;
    align-items: center;
    position: absolute;
    left: 97%;
    transform: translateX(-50%);
    padding: 15px;
    gap: 10px;
}

.settings-button {
    border: none;
    background: none;
    padding: 0;
}

.settings-button img {
    width: 24px;
    height: auto;
    color: red ;
}

.settings-button img:hover {
    content: url("svg/icon-advanced2.svg");
}